article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
}
.detail-image {
	max-width: 100%;
	height: auto;
	border-radius: 2px;
}
.detail-info {
	padding: 10px 0;
}
.detail-info p {
	text-align: justify;
}
.addToCart {
	background-color: black;
	color: rgb(214, 214, 214);
	padding: 8px;
	border: 0px;
	font-family: monospace;
}
