article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
}
.detail-image {
	border-radius: 2px;
}
.detail-info {
	padding: 10px 0;
}
.detail-info p {
	text-align: justify;
}
