/* nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem;
	border-top: orangered 2px solid;
} */
a {
	text-decoration: none;
	color: inherit;
}
/*
.nav-btnList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
}
.nav-btn {
	font-size: 1.3rem;
	font-family: monospace;
	margin: 0rem 1rem;
}
.nav-btn-cart {
	font-size: 1.3rem;
	font-family: monospace;
	margin: 0rem 1rem;
	display: flex;
	align-items: center;
} */
/* 
.nav-logo {
	height: 80px;
} */
