nav {
	padding: var(--nav-padding);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav-logo {
	height: 60px;
}
.nav-btnList {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
}
.nav-btn {
	background-color: white;
	border: 0px;
	font-size: 1rem;
	cursor: pointer;
	margin: 5px;
	text-decoration: none;
	color: black;
}
